= form_with(model: [:admin, @channel, video]) do |form|
  - if video.errors.any?
    #error_explanation
      %h2= "#{pluralize(video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - video.errors.full_messages.each do |message|
          %li= message

  .row.mb-3
    .col-md-3.col-form-label.fw-bold title
    .col-md-9= form.text_field :title, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold video_id
    .col-md-9= form.text_field :video_id, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold kind
    .col-md-9= form.number_field :kind, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold response_json
    .col-md-9= form.text_area :response_json, class: 'form-control', size: '20x10'
  .row
    .col
      = form.submit '保存', class: 'btn btn-primary d-block w-100'
