%h1 Video編集

= form_with(model: [:admin, @video]) do |form|
  - if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |message|
          %li= message
  .row.mb-3
    .col-md-3.col-form-label.fw-bold channel
    .col-md-9= form.collection_select :channel_id, Channel.all, :id, :name, {}, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold title
    .col-md-9= form.text_field :title, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold video_id
    .col-md-9= form.text_field :video_id, class: 'form-control'
  .row.mb-3
    .col-md-3.col-form-label.fw-bold kind
    .col-md-9= form.select :kind, Video.kinds_i18n.invert, {}, class: 'form-control'
  .row
    .col
      = form.submit '保存', class: 'btn btn-primary d-block w-100'

= link_to '閲覧', admin_video_path(@video)
\|
= link_to '戻る', admin_videos_path
