- content_for :js, javascript_include_tag('admin/videos'), type: :module

%h1 Video一覧
.px-2.my-3
  %label.form-check
    = check_box_tag :only_song_lives, '1', @only_song_lives, { class: 'form-check-input', id: 'only-song-lives' }
    .check_box_label 歌枠のみ表示
  %label.form-check
    = check_box_tag :only_incompleted, '1', @only_incompleted, { class: 'form-check-input', id: 'only-incompleted' }
    .check_box_label completeでない配信のみ表示

%table.table
  %thead.table-light
    %tr
      %th Thumbnail
      %th Video
      %th Kind
      %th PublishedAt
      %th Published
      %th Status
      %th Title
      %th Action
      %th Links

  %tbody
    %tr
      %td{colspan: 9}= link_to 'video新規作成', new_admin_video_path, class: 'btn btn-primary w-100'
    - @videos.each do |video|
      %tr
        %th= image_tag video.thumbnails["high"]["url"], width: 200
        %td= video.video_id
        %td= video.kind
        %td= video.published_at
        %td= video.published ? '公開' : '非公開'
        %td= video.status
        %td= video.title
        %td
          = form_with(url: admin_video_song_items_bulk_path(video)) do |form|
            = form.submit 'セトリ作成', class: 'btn btn-sm btn-outline-primary'
          = form_with(model: [:admin, video], class: 'mt-1') do |form|
            = form.hidden_field :status, value: 'completed'
            = form.submit 'completedにする', class: 'btn btn-sm btn-outline-primary'
        %td
          = link_to '歌リスト', admin_video_song_items_path(video), class: 'm-1 btn btn-sm btn-outline-primary'
          = link_to 'コメント一覧', admin_video_comments_path(video), class: 'm-1 btn btn-sm btn-outline-primary'
          = link_to 'Youtube', video.link_url, target: :_blank, class: 'm-1 btn btn-sm btn-outline-primary'
          = link_to '閲覧', admin_video_path(video), class: 'm-1 btn btn-sm btn-outline-primary'
          = link_to '編集', edit_admin_video_path(video), class: 'm-1 btn btn-sm btn-outline-primary'
          = link_to '削除', admin_video_path(video), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'm-1 btn btn-sm btn-outline-danger'

.my-2.d-flex.justify-content-center= paginate @videos
