%h1 video一覧
%table.table
  %thead.table-light
    %tr
      %th Channel
      %th Video
      %th Kind
      %th Response json
      %th Title
      %th

  %tbody
    %tr
      %td{colspan: 6}= link_to 'video新規作成', new_admin_video_path, class: 'btn btn-primary w-100'
    - @videos.each do |video|
      %tr
        %td= video.channel_id
        %td= video.video_id
        %td= video.kind
        %td= video.response_json
        %td= video.title
        %td
          = link_to '閲覧', admin_video_path(video), class: 'btn btn-sm btn-outline-primary'
          = link_to '編集', edit_admin_video_path(video), class: 'btn btn-sm btn-outline-primary'
          = link_to '削除', admin_video_path(video), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-sm btn-outline-danger'
