%h1 チャンネル
.row.py-1
  .col-md-3.fw-bold Channel
  .col-md-9= @channel.channel_id
.row.py-1
  .col-md-3.fw-bold Name
  .col-md-9= @channel.name
.row.py-1
  .col-md-3.fw-bold Custom name
  .col-md-9= @channel.custom_name
.row.py-1
  .col-md-3.fw-bold Kind
  .col-md-9= @channel.kind
.row.py-1
  .col-md-3.fw-bold Twitter
  .col-md-9= @channel.twitter_id
.row.py-1
  .col-md-3.fw-bold Response json
  .col-md-9= @channel.response_json.to_json

= link_to '編集', edit_admin_channel_path(@channel)
\|
= link_to '戻る', admin_channels_path
