%h1 song_diff一覧
%table.table
  %thead.table-light
    %tr
      %th Made by
      %th Time
      %th Title
      %th Author
      %th

  %tbody
    %tr
      %td{colspan: 6}= link_to 'song_diff新規作成', new_admin_video_song_item_song_diff_path(@video, @song_item), class: 'btn btn-primary w-100'
    - @song_diffs.each do |song_diff|
      %tr
        %td= song_diff.made_by_id
        %td= song_diff.time
        %td= song_diff.title
        %td= song_diff.author
        %td
          = link_to '閲覧', admin_video_song_item_song_diff_path(@video, @song_item, song_diff), class: 'btn btn-sm btn-outline-primary'
          = link_to '編集', edit_admin_video_song_item_song_diff_path(@video, @song_item, song_diff), class: 'btn btn-sm btn-outline-primary'
          = link_to '削除', admin_video_song_item_song_diff_path(@video, @song_item, song_diff), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-sm btn-outline-danger'
