%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%title
  = yield :title
  - if yield(:title).strip.present?
    \-
  BackendSongList
%meta{:content => "#{yield :meta_keywords}BackendSongList, railsテンプレート", :name => "keywords"}/
%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
= csrf_meta_tags
= csp_meta_tag
= javascript_importmap_tags
= yield :js
= stylesheet_link_tag 'application', *(yield :css).split(', '), media: 'all'
%link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css",
  :rel => "stylesheet",
  :integrity => "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC",
  :crossorigin => "anonymous"}/
%script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js",
  :integrity => "sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM",
  :crossorigin => "anonymous"}
%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined", :rel => "stylesheet"}/
